<style>

    .cp{
        margin-left: 1cm;
        font-size: 8px;
        
    }
    span {
        text-align: right;
    }
    hr{
        width: 100%;
    }

</style>

<div class="cp" style="text-align: center;">
    <span >Pagina <span class='pageNumber'></span> </span>
    
</div>