
<style>

    .cp{
        margin-left: 1cm;
        margin-right: 1cm;
        font-size: 8px;
        width: 100%;
    }
    span {
        text-align: right;
    }


</style>
<div class="col cp">
    <div class="row">
        <span> Fecha emisión : <span class="date"></span></span>
    </div>
    <div class="row">
        <hr style="border-bottom: 2px black;">
    </div>

</div>


